.THIS.slds-popover {
   	min-height: 100px;
    top:45%;
    left:110px;
    width:550px;
    z-index:1000;
    border-right: 1px solid #000000;
	border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom:1px solid #000000;
}
.THIS .RedColor{
	background-color:red;
}

.THIS .item {
  position: relative;  
  border: 1px solid #333;
  margin: 2%;
  /*overflow: hidden; */
  width: 50px;
  height: 50px;
}
.THIS .item img {
   /*max-width: 100%; */  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.THIS .item:hover + .overlay-box {
    display: block;
}